.section-contato{
    padding: 1rem 1rem;
}


.form-container .title{
    color: orange;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    font-weight: 900;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 3rem 0;
    background-color:rgb(46, 46, 138);
}


.form-container .main-button{
    width: 300px;
    min-width: 300px;
    max-width: 400px;
    border: none;
    background-color: orange;
    color:rgb(46, 46, 138);
    font-weight: 600;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.form-container .main-button:hover{
    transform: scale(1.08);
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.form-control label{
    color: #fff;
}

.form-input{
    background-color: #fff;
    padding: 0 1rem;
    border-radius: 4px;
    color: rgb(46, 46, 138);
}


.form-control input{
    border: none;
    border-radius: 4px;
    height: 40px;
    min-width: 300px;
    max-width: 400px;

}

.form-control input:focus-visible{
   outline: none;
}